### Рано еще использовать репозиторий Гит, необходимо больше компетенций.
# Знак * гарантирует, что все будет проигнорировано.
*
# Вы можете внести файлы / папки в белый список с помощью !, они не будут проигнорированы.
!*.yaml
!.gitignore
!*.md

# Игнорировать папки.
.storage
.cloud
.google.token

# Убедитесь, что эти файлы YAML игнорируются, в противном случае произойдет утечка ваших секретных данных / учетных данных.
secrets.yaml